$background-color:#f2f2f2;

/*Typography*/
$text-color:#000000;
$text-color--light: #b7b7b7;
$font-family: neue-haas-unica, sans-serif;
$font-weight: 500;
$line-spacing:135%;
$letter-spacing: 0.0em;
$word-spacing: -0.1ch;
$h1: 2.25em;
$h2: 1.4em;
$h3: 1.1em;
$h1-tablet: 2em;
$h2-tablet: 1.5em;
$h3-tablet: 1em;
$p-tablet:1.25em;
$h1-mobile: 1.2em;
$h2-mobile: 1.1em;
$h3-mobile: 0.9em;

/*Imagery*/
$border-radius:5px;

/*Sections*/
$section-width: 85%;
$section-width-res: 75%;